
<div class="container">
  <h1>Results</h1>

<div class="container box">
  <div class="output">
    <%= @output %>
  </div>

  <div class="btn">
    <%= link_to "Play again!", new_path %>
  </div>
  </div>
</div>
